<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-AFPM7GO;Initial Catalog=FileUpload;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="FileUploadEntities" connectionString="metadata=res://*/FileUploadDataModel.csdl|res://*/FileUploadDataModel.ssdl|res://*/FileUploadDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-AFPM7GO;initial catalog=FileUpload;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="FileDataCreateQueue" value="fileMetaDataQueue" />
    <add key="FileMetaDeleteQueue" value="fileMetaDeleteQueue" />
    <add key="FileOpenedQueue" value="fileOpenedQueue" />
    <add key="RabbitConnection" value="localhost" />
    <add key="RedisServerName" value="localhost:6379" />
    <add key="WebServerUrl" value="http://localhost:8091" />
    <add key="BlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=fileupload001;AccountKey=XwehxPZtZUQqSftaA7werJlKHeEm+bcbvGAE/k7aYJv3o73DsDYt/V73eNs66hMS5pWyRkDVXQqzFgpdhHTnEg==;EndpointSuffix=core.windows.net" />
    <add key="CsvContainer" value="csvcontainer" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>