.fileuploadContainer
{
    margin-top: 20px;
    width: 100%;
}

.fileuploadButtonContainer
{
    padding:10px;
}

    .fileuploadButtonContainer div input {
        margin-right: 10px;
    }


.fileuploadFunctionButton {
    margin-right: 10px;
}

.fileUploadTempFileContainer {
    margin-top:10px;
    width: 100%;
    background-color: #ededed;
    max-height:200px;
    overflow-y: scroll;
    display: none;
}

.fileUploadTempFileContainer ul {
    list-style: none;
}

    .fileUploadTempFileContainer ul li {
        padding:10px
    }

.fileUploadFileListcontainer
{

}

    .fileUploadFileListcontainer ul {
        list-style: none;
    }

        .fileUploadFileListcontainer ul li {
            padding: 10px
        }